@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}
.navbar_inner_main{
    background: #10101059;
    padding: 8px 20px;
    position: fixed;
    top: 10px;
    right: 0;
    left: 0;
    width: 100%;
    max-width: 992px;
    margin: auto;
    z-index: 1000;
    border-radius: 60px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    animation: slideDown 0.3s ease;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
    border: 1px solid #202020;
}
.navbar_inner_main .navbar-nav .nav-link{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.navbar-brand{
    font-weight: 700;
    font-size: 20.53px;
    color: #FFFFFF !important;
}
.nav-link{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}
.navbar_btns{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar_btn1{
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.navbar_btn2{
    background: #FF9F1C;
    border: none;
    border-radius: 30px;
    padding: 8px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}
.hero_section{
    background-image: url('../public/assets/images/hero.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.hero_text_div{
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: center;
}
.hero_text_div span{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    color: #6A7282;
}
.hero_text_div h1{
    font-weight: 500;
    font-size: 70.54px;
    line-height: 91.48px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    margin-top: 25px;
}
.hero_text_div p{
    font-weight: 400;
    font-size: 20px;
    line-height: 32.5px;
    letter-spacing: 0px;
    text-align: center;
    color: #9E9E9E;
    padding: 0px 35px;
    margin-top: 25px;
}
.hero_text_div button{
    background: #FF9F1C;
    border: none;
    border-radius: 30px;
    padding: 12px 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
    margin-top: 25px;
}